<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

    <div id="image_track" data-mouse-down-at="0" data-prev-perentage="0">
        <img class="image" src = images/AdobeStock_120657036_Preview.jpeg draggable="false"/>
        <img class="image" src = images/AdobeStock_308186809_Preview.jpeg draggable="false"/>
        <img class="image" src = images/AdobeStock_316550206_Preview.jpeg draggable="false"/>
        <img class="image" src = images/AdobeStock_574643266_Preview.jpeg draggable="false"/>
        <img class="image" src = images/AdobeStock_637051681_Preview.jpeg draggable="false"/>
        <img class="image" src = images/AdobeStock_674510423_Preview.jpeg draggable="false"/>
    </div>

    <script src="javascript/main.js"></script>
</body>

